.root {
	-fx-background-image: url("background.jpeg");
    -fx-background-size: cover;
}
.label {
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-text-fill: white;
}
.button {
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-background-color: linear-gradient(#3123b1, #2A5058);
}
.checkbox {
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-text-fill: white;
}